<a href="https://colab.research.google.com/github/MuhamadFahmiii/Desain-Analisis-Algoritma/blob/main/tugas_pertemuan_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Implementasi Algoritma Breadth-first Search**

**FIRST SEARCH ITU MELAKUKAN LEVEL KE SAMPING**

In [109]:
def bfs(graph, start):
  visited = []
  queue = [start]

  while queue:
    node = queue.pop(0)
    if node not in visited:
      visited.append(node)
      neighbours = graph[node]
      for neighbour in neighbours :
        queue.append(neighbour)
  return visited

In [110]:
graph={'Amin' : {'Wasim', 'Nick', 'Mike'},
       'Wasim' : {'Imran', 'Amin'},
       'Imran' : {'Wasim','Faras'},
       'Faras' : {'Imran'},
       'Mike' : {'Amin'},
       'Nick' : {'Amin'}}

In [111]:
#O Amin------------
#|        |       |
#O Wasim  O Nick  O Mike
#|
#O Imran
#|
#O Faras

bfs(graph, 'Amin')

['Amin', 'Mike', 'Wasim', 'Nick', 'Imran', 'Faras']

**Yang diatas level 1 = (Amin), level 2 = (Wasim, Nick, Mike), level 3 = (Imran), level 4 (Faras)**

In [112]:
#O Wasim-------
#|            |
#O Imran      O Amin-----
#|            |         |
#O Faras      O Nick    O Mike

bfs(graph,'Wasim')

['Wasim', 'Imran', 'Amin', 'Faras', 'Mike', 'Nick']

**Yang diatas level 1 = (Wasim), level 2 = (Imran, Amin), level 3 = (Faras, Nick, Mike)**

In [113]:
#O Faras
#|
#O Imran
#|
#O Wasim  O Nick  O Mike
#|        |       |
#O Amin------------

bfs(graph, 'Faras')

['Faras', 'Imran', 'Wasim', 'Amin', 'Mike', 'Nick']

**Yang diatas faras hanya mengenal imron, imron mengenal wasim --> amin --> nick --> mike**

**LATIHAN 1**

In [114]:
graph={'Rektor' : {'Warek1', 'Warek2'},
       'Warek1' : {'Rektor'},
       'Warek2' : {'Rektor','Kaprodi1', 'Kaprodi2','Kaprodi3'},
       'Kaprodi1' : {'Warek2','Dosen A','Dosen B','Dosen C'},
       'Dosen A' : {'Kaprodi1'},
       'Dosen B' : {'Kaprodi1'},
       'Dosen C' : {'Kaprodi1'},
       'Kaprodi2' : {'Warek2','Dosen D','Dosen E'},
       'Dosen D' : {'Kaprodi2'},
       'Dosen E' : {'Kaprodi2'},
       'Kaprodi3' : {'Warek2','Dosen F','Dosen G'},
       'Dosen F': {'Kaprodi3'},
       'Dosen G' : {'Kaprodi3'}}

In [115]:
bfs(graph, 'Rektor')

['Rektor',
 'Warek2',
 'Warek1',
 'Kaprodi3',
 'Kaprodi2',
 'Kaprodi1',
 'Dosen G',
 'Dosen F',
 'Dosen D',
 'Dosen E',
 'Dosen A',
 'Dosen B',
 'Dosen C']

In [116]:
bfs(graph, 'Dosen B')

['Dosen B',
 'Kaprodi1',
 'Warek2',
 'Dosen A',
 'Dosen C',
 'Kaprodi3',
 'Rektor',
 'Kaprodi2',
 'Dosen G',
 'Dosen F',
 'Warek1',
 'Dosen D',
 'Dosen E']

In [117]:
bfs(graph, 'Kaprodi2')

['Kaprodi2',
 'Warek2',
 'Dosen D',
 'Dosen E',
 'Kaprodi3',
 'Rektor',
 'Kaprodi1',
 'Dosen G',
 'Dosen F',
 'Warek1',
 'Dosen A',
 'Dosen B',
 'Dosen C']

In [118]:
graph7={'10': {'1', '9'},
       '1' : {'10', '8'},
       '9' : {'10', '8'},
       '8' : {'1', '9', '12'},
       '0' : {'9', '7', '11'},
       '12': {'8', '2'},
       '2' : {'12', '3'},
       '7' : {'0', '11'},
       '11': {'7', '0'},
       '3' : {'2', '4', '7'},
       '4' : {'3'},
       '6' : {'7', '5'},
       '5' : {'6'}}

In [119]:
bfs(graph7,'0')

['0', '7', '11', '9', '8', '10', '12', '1', '2', '3', '4']

**IMPLEMENTASI ALGORITMA DEPTH FIRST SEARCH**

**(DEPT ITU MELAKUKAN LEVEL KEBAWAH)**

In [120]:
def dfs(graph, start, visited=None):
  if visited is None:
    visited = set()
  visited.add(start)
  print(start)
  for next in graph[start] - visited:
    dfs(graph, next, visited)

In [121]:
graph={ 'Amin' : {'Wasim', 'Nick', 'Mike'},
       'Wasim' : {'Imran', 'Amin'},
       'Imran' : {'Wasim','Faras'},
       'Faras' : {'Imran'},
       'Mike' : {'Amin'},
       'Nick' : {'Amin'}}

In [122]:
#O Amin -----------
#|        |       |
#O Wasim  O Nick  O Mike
#|
#O Imran
#|
#O Faras

dfs(graph, 'Amin')

Amin
Mike
Wasim
Imran
Faras
Nick

In [123]:
#O Wasim-------
#|            |
#O Imran      O Amin-----
#|            |         |
#O Faras      O Nick    O Mike

dfs(graph,'Wasim')

Wasim
Imran
Faras
Amin
Mike
Nick

In [124]:
#O Faras
#|
#O Imran
#|
#O Wasim  O Nick  O Mike
#|        |       |
#O Amin------------

dfs(graph, 'Faras')

Faras
Imran
Wasim
Amin
Mike
Nick

In [125]:
#O Nick------
#|          |
#O Amin     O Mike
#|
#O Wasim
#|
#O Imran
#|
#O Faras

dfs(graph, 'Nick')

Nick
Amin
Mike
Wasim
Imran
Faras

**LATIHAN 2**

In [126]:
graph={'Rektor' : {'Warek1', 'Warek2'},
       'Warek1' : {'Rektor'},
       'Warek2' : {'Rektor','Kaprodi1', 'Kaprodi2','Kaprodi3'},
       'Kaprodi1' : {'Warek2','Dosen A','Dosen B','Dosen C'},
       'Dosen A' : {'Kaprodi1'},
       'Dosen B' : {'Kaprodi1'},
       'Dosen C' : {'Kaprodi1'},
       'Kaprodi2' : {'Warek2','Dosen D','Dosen E'},
       'Dosen D' : {'Kaprodi2'},
       'Dosen E' : {'Kaprodi2'},
       'Kaprodi3' : {'Warek2','Dosen F','Dosen G'},
       'Dosen F': {'Kaprodi3'},
       'Dosen G' : {'Kaprodi3'}}

dfs(graph, 'Rektor')

Rektor
Warek2
Kaprodi3
Dosen G
Dosen F
Kaprodi2
Dosen D
Dosen E
Kaprodi1
Dosen A
Dosen B
Dosen C
Warek1

In [129]:
graph4 ={'0' : {'1', '9'},
       '1' : {'0', '8'},
       '9' : {'0', '8'},
       '8' : {'1', '9', '7'},
       '7' : {'8', '10', '11','3','6'},
       '10' : {'7', '11'},
       '11' : {'10', '7'},
       '6' : {'7', '5'},
       '5' : {'6', '3'},
       '3' : {'7', '5','2','4'},
       '4' : {'3'},
       '2' : {'3'},
       '12': {'Â '}}

In [130]:
dfs(graph4, '0')

0
9
8
7
3
5
6
2
4
11
10
6
10
1
1